@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url('../public/fonts/Poppins-ExtraLight.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: poppins;
  src: url('../public/fonts/Poppins-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: poppins;
  src: url('../public/fonts/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: poppins;
  src: url('../public/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: poppins;
  src: url('../public/fonts/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: poppins;
  src: url('../public/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: rgba(231, 229, 229, 0.87);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(153, 152, 152, 0.308);
  border-radius: 20px;
}

.app_name_animation {
  animation: fade 3s linear infinite alternate;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.welcome_animation {
  animation: welcomeAnimation 3s cubic-bezier(0.39, 0.575, 0.565, 1) 4s;
  background-color: rgb(26, 143, 26);
  position: absolute;
  border-radius: 50%;
}

@keyframes welcomeAnimation {
  0% {
    width: 0;
   height: 0;
  }
  50% {
    width: 1200px;
    height: 1200px;
    background-color: white;
  }
  750% {
    background-color: white;
  }
  100% {
    width: 1200px;
    height: 1200px;
    background-color: white;
  }
}